In [2]:
import pandas as pd

In [4]:
table = pd.read_csv('https://raw.githubusercontent.com/diasctiago/pandas/main/leads.csv')
table.head()

     id              data  UF          estado          cidade status    origem
0  1001  16/08/2022 13:19  BA           Bahia        Salvador   lead  Facebook
1  1002  16/08/2022 11:05  BA           Bahia        Salvador   lead  Facebook
2  1003  16/08/2022 10:33  RJ  Rio de Janeiro  Rio de Janeiro   lead  Facebook
3  1004  16/08/2022 09:33  BA           Bahia        Salvador   lead  Facebook
4  1005  16/08/2022 08:56  SP       São Paulo       São Paulo   lead      Blog

In [15]:
table_txt = pd.read_csv('https://raw.githubusercontent.com/diasctiago/pandas/main/leads.txt', delimiter='|')
table_txt.head()

     id              data  UF          estado          cidade status    origem
0  1001  16/08/2022 13:19  BA           Bahia        Salvador   lead  Facebook
1  1002  16/08/2022 11:05  BA           Bahia        Salvador   lead  Facebook
2  1003  16/08/2022 10:33  RJ  Rio de Janeiro  Rio de Janeiro   lead  Facebook
3  1004  16/08/2022 09:33  BA           Bahia        Salvador   lead  Facebook
4  1005  16/08/2022 08:56  SP       São Paulo       São Paulo   lead      Blog

In [11]:
table_excel = pd.read_excel('https://github.com/diasctiago/pandas/blob/main/leads.xlsx?raw=true')
table_excel.head()

,id,data,UF,estado,cidade,status,origem
0,1001,2022-08-16 13:19:00,BA,Bahia,Salvador,lead,Facebook
1,1002,2022-08-16 11:05:00,BA,Bahia,Salvador,lead,Facebook
2,1003,2022-08-16 10:33:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Facebook
3,1004,2022-08-16 09:33:00,BA,Bahia,Salvador,lead,Facebook
4,1005,2022-08-16 08:56:00,SP,São Paulo,São Paulo,lead,Blog

In [12]:
display(table_excel)

,id,data,UF,estado,cidade,status,origem
0,1001,2022-08-16 13:19:00,BA,Bahia,Salvador,lead,Facebook
1,1002,2022-08-16 11:05:00,BA,Bahia,Salvador,lead,Facebook
2,1003,2022-08-16 10:33:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Facebook
3,1004,2022-08-16 09:33:00,BA,Bahia,Salvador,lead,Facebook
4,1005,2022-08-16 08:56:00,SP,São Paulo,São Paulo,lead,Blog
5,1006,2022-08-16 08:12:00,SP,São Paulo,São Paulo,lead,Blog
6,1007,2022-08-16 07:14:00,BA,Bahia,Salvador,lead,Facebook
7,1008,2022-08-15 23:27:00,BA,Bahia,Salvador,lead,Facebook
8,1009,2022-08-15 22:04:00,BA,Bahia,Lauro de Freitas,lead,Facebook
9,1010,2022-08-15 21:11:00,SP,São Paulo,São Paulo,lead,Facebook
10,1011,2022-08-15 19:53:00,BA,Bahia,Camaçari,lead,Facebook
11,1012,2022-08-15 17:18:00,SP,São Paulo,São Paulo,oportunidade,Facebook
12,1013,2022-08-15 16:16:00,SP,São Paulo,São Paulo,lead,Facebook
13,1014,2022-08-15 13:44:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Facebook
14,1015,2022-08-15 13:27:00,BA,Bahia,Feira de Santana,lead,Google
15,1016,2022-08-15 11:41:00,SP,São Paulo,Campinas,lead,Google
16,1017,2022-08-15 10:37:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Google
17,1018,2022-08-15 10:34:00,BA,Bahia,Salvador,lead,Google
18,1019,2022-08-15 08:59:00,BA,Bahia,Salvador,lead,Google
19,1020,2022-08-15 08:50:00,BA,Bahia,Salvador,lead,Google
20,1021,2022-08-14 22:40:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Google
21,1022,2022-08-14 21:47:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Blog
22,1023,2022-08-14 21:46:00,RJ,Rio de Janeiro,Niterói,oportunidade,Blog
23,1024,2022-08-14 21:41:00,BA,Bahia,Salvador,lead,Google
24,1025,2022-08-14 21:10:00,BA,Bahia,Salvador,lead,Google
25,1026,2022-08-14 18:56:00,SP,São Paulo,São Paulo,oportunidade,Google
26,1027,2022-08-14 18:25:00,RJ,Rio de Janeiro,Niterói,lead,Google
27,1028,2022-08-14 18:04:00,BA,Bahia,Salvador,lead,Google
28,1029,2022-08-14 17:36:00,BA,Bahia,Lauro de Freitas,lead,Google
29,1030,2022-08-14 16:47:00,BA,Bahia,Camaçari,lead,Facebook
30,1031,2022-08-14 16:21:00,BA,Bahia,Feira de Santana,lead,Facebook
31,1032,2022-08-14 11:59:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Facebook
32,1033,2022-08-14 07:10:00,SP,São Paulo,São Paulo,lead,Facebook
33,1034,2022-08-14 04:20:00,BA,Bahia,Salvador,lead,Google
34,1035,2022-08-14 00:50:00,BA,Bahia,Salvador,lead,Google
35,1036,2022-08-14 00:19:00,BA,Bahia,Salvador,lead,Google
36,1037,2022-08-13 22:43:00,SP,São Paulo,Sorocaba,lead,Google
37,1038,2022-08-13 22:23:00,BA,Bahia,Salvador,lead,Facebook
38,1039,2022-08-13 16:43:00,BA,Bahia,Salvador,lead,Facebook
39,1040,2022-08-13 15:22:00,BA,Bahia,Lauro de Freitas,lead,Facebook
40,1041,2022-08-13 14:46:00,BA,Bahia,Camaçari,lead,Facebook
41,1042,2022-08-13 11:02:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Google
42,1043,2022-08-13 10:32:00,RJ,Rio de Janeiro,Petrópolis,lead,Google
43,1044,2022-08-13 09:28:00,RJ,Rio de Janeiro,Petrópolis,lead,Google
44,1045,2022-08-13 08:08:00,SP,São Paulo,Campinas,oportunidade,Google
45,1046,2022-08-13 01:40:00,RJ,Rio de Janeiro,Petrópolis,lead,Blog
46,1047,2022-08-13 01:19:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Blog
47,1048,2022-08-12 23:15:00,BA,Bahia,Feira de Santana,lead,Blog
48,1049,2022-08-12 21:50:00,RJ,Rio de Janeiro,Rio de Janeiro,lead,Blog
49,1050,2022-08-12 21:02:00,BA,Bahia,Salvador,oportunidade,Blog

In [ ]:
https://raw.githubusercontent.com/diasctiago/pandas/1423ba4fdf53a4fb782b83d207d46804f0a0a6a1/leads.json

In [16]:
table_json = pd.read_json('https://raw.githubusercontent.com/diasctiago/pandas/1423ba4fdf53a4fb782b83d207d46804f0a0a6a1/leads.json')
table_json.head()

,id,data,endereço,status,origem
0,1001,16/08/2022 13:19,"{'UF': 'BA', 'estado': 'Bahia', 'cidade': 'Sal...",lead,Facebook
1,1002,16/08/2022 11:05,"{'UF': 'BA', 'estado': 'Bahia', 'cidade': 'Sal...",lead,Facebook
2,1003,16/08/2022 10:33,"{'UF': 'RJ', 'estado': 'Rio de Janeiro', 'cida...",lead,Facebook

In [17]:
display(table_json)

,id,data,endereço,status,origem
0,1001,16/08/2022 13:19,"{'UF': 'BA', 'estado': 'Bahia', 'cidade': 'Sal...",lead,Facebook
1,1002,16/08/2022 11:05,"{'UF': 'BA', 'estado': 'Bahia', 'cidade': 'Sal...",lead,Facebook
2,1003,16/08/2022 10:33,"{'UF': 'RJ', 'estado': 'Rio de Janeiro', 'cida...",lead,Facebook

In [19]:
from urllib import request

In [20]:
#normalizando os json
import json

with request.urlopen('https://raw.githubusercontent.com/diasctiago/pandas/1423ba4fdf53a4fb782b83d207d46804f0a0a6a1/leads.json') as arquivo:
    dados_json = json.load(arquivo)

In [22]:
dados_json_norma = pd.json_normalize(dados_json)
display(dados_json_norma)

,id,data,status,origem,endereço.UF,endereço.estado,endereço.cidade
0,1001,16/08/2022 13:19,lead,Facebook,BA,Bahia,Salvador
1,1002,16/08/2022 11:05,lead,Facebook,BA,Bahia,Salvador
2,1003,16/08/2022 10:33,lead,Facebook,RJ,Rio de Janeiro,Rio de Janeiro

In [ ]:
table_json = pd.read_json('https://raw.githubusercontent.com/diasctiago/pandas/1423ba4fdf53a4fb782b83d207d46804f0a0a6a1/leads.json')
table_json.head()

In [ ]:
#leitura de base real
http://dados.agricultura.gov.br/dataset/420c0514-92da-4888-be85-290a0785e8a9/resource/65cce855-685e-4cfa-b3a4-2d192fc83b4e/download/rfflorestasplantadasibge2014-2016.csv

In [78]:
table_real= pd.read_csv('http://dados.agricultura.gov.br/dataset/420c0514-92da-4888-be85-290a0785e8a9/resource/65cce855-685e-4cfa-b3a4-2d192fc83b4e/download/rfflorestasplantadasibge2014-2016.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 13: invalid continuation byte

In [79]:
table_real= pd.read_csv('http://dados.agricultura.gov.br/dataset/420c0514-92da-4888-be85-290a0785e8a9/resource/65cce855-685e-4cfa-b3a4-2d192fc83b4e/download/rfflorestasplantadasibge2014-2016.csv', 
                        encoding = 'Windows 1252', delimiter=';')
table_real.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0

In [4]:
display(table_real)

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
...,...,...,...,...,...,...,...,...,...,...,...
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0

In [7]:
#verificando as ultimas 5 linhas
table_real.tail(10)

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
31004,31/12/2016,Brasil,Centro Oeste,Goiás,GO,Vila Propício,Vila Propício (GO),"-15,27","-48,81",Outras espécies,0.0
31005,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Eucalipto,2809.0
31006,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Eucalipto,2809.0
31007,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Eucalipto,2700.0
31008,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0

In [8]:
print(table_real.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31014 entries, 0 to 31013
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Ano (data)              31014 non-null  object
 1   País                    31014 non-null  object
 2   Região                  31014 non-null  object
 3   Estado                  31014 non-null  object
 4   Estado sigla            31014 non-null  object
 5   Município (Municípios)  31014 non-null  object
 6   Município Estado        31014 non-null  object
 7   Latitude                31014 non-null  object
 8   Longitude               31014 non-null  object
 9   Espécie florestal       31014 non-null  object
 10  Área (ha)               29658 non-null  float64
dtypes: float64(1), object(10)
memory usage: 2.6+ MB
None

In [15]:
table_real.columns

Index(['Ano (data)', 'País', 'Região', 'Estado', 'Estado sigla',
       'Município (Municípios)', 'Município Estado', 'Latitude', 'Longitude',
       'Espécie florestal', 'Área (ha)'],
      dtype='object')

In [16]:
table_real.index

RangeIndex(start=0, stop=31014, step=1)

In [18]:
table_real[['Região', 'Espécie florestal']]

             Região Espécie florestal
0             Norte         Eucalipto
1             Norte         Eucalipto
2             Norte         Eucalipto
3             Norte             Pinus
4             Norte             Pinus
...             ...               ...
31009  Centro Oeste             Pinus
31010  Centro Oeste             Pinus
31011  Centro Oeste   Outras espécies
31012  Centro Oeste   Outras espécies
31013  Centro Oeste   Outras espécies

[31014 rows x 2 columns]

In [26]:
table_real['Espécie florestal']== 'Eucalipto'

0         True
1         True
2         True
3        False
4        False
         ...
31009    False
31010    False
31011    False
31012    False
31013    False
Name: Espécie florestal, Length: 31014, dtype: bool

In [27]:
display(table_real[table_real['Espécie florestal']== 'Eucalipto'])

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
9,31/12/2014,Brasil,Norte,Rondônia,RO,Cacoal,Cacoal (RO),"-11,3","-61,32",Eucalipto,0.0
10,31/12/2015,Brasil,Norte,Rondônia,RO,Cacoal,Cacoal (RO),"-11,3","-61,32",Eucalipto,0.0
...,...,...,...,...,...,...,...,...,...,...,...
30997,31/12/2015,Brasil,Centro Oeste,Goiás,GO,Vila Propício,Vila Propício (GO),"-15,27","-48,81",Eucalipto,230.0
30998,31/12/2016,Brasil,Centro Oeste,Goiás,GO,Vila Propício,Vila Propício (GO),"-15,27","-48,81",Eucalipto,250.0
31005,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Eucalipto,2809.0
31006,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Eucalipto,2809.0
31007,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Eucalipto,2700.0

In [29]:
table_real.loc[1000]

Ano (data)                             31/12/2015
País                                       Brasil
Região                                      Norte
Estado                                  Tocantins
Estado sigla                                   TO
Município (Municípios)         Lagoa do Tocantins
Município Estado          Lagoa do Tocantins (TO)
Latitude                                   -10,34
Longitude                                  -47,48
Espécie florestal                       Eucalipto
Área (ha)                                   120.0
Name: 1000, dtype: object

In [31]:
table_real.isnull().sum()

Ano (data)                   0
País                         0
Região                       0
Estado                       0
Estado sigla                 0
Município (Municípios)       0
Município Estado             0
Latitude                     0
Longitude                    0
Espécie florestal            0
Área (ha)                 1356
dtype: int64

In [32]:
table_real[table_real.isnull()]

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
31009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
table_real = table.dropna(how="all", axis=1)
table_real = table.dropna(how="any", axis=0)

In [37]:
table_real.loc[table_real['Espécie florestal']== 'Eucalipto', ['Região', 'Estado sigla']]

             Região Estado sigla
0             Norte           RO
1             Norte           RO
2             Norte           RO
9             Norte           RO
10            Norte           RO
...             ...          ...
30997  Centro Oeste           GO
30998  Centro Oeste           GO
31005  Centro Oeste           DF
31006  Centro Oeste           DF
31007  Centro Oeste           DF

[10338 rows x 2 columns]

In [38]:
table_real['nova coluna'] = table_real['Área (ha)']*100

In [39]:
display(table_real)

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),nova coluna
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0,100000.0
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0,70000.0
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0,0.0
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0,0.0
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0,0.0

In [45]:
table_real['Nivel'] = ['Alto' if x  > 170000 else 'baixo' for x in table_real['Área (ha)']]

In [46]:
display(table_real)

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),nova coluna,Nivel
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0,baixo
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0,baixo
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0,baixo
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0,baixo
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0,baixo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0,100000.0,baixo
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0,70000.0,baixo
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0,0.0,baixo
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0,0.0,baixo
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0,0.0,baixo

In [47]:
table_real.describe()

           Área (ha)   nova coluna
count   29658.000000  2.965800e+04
mean      988.865197  9.888652e+04
std      5477.579430  5.477579e+05
min         0.000000  0.000000e+00
25%         0.000000  0.000000e+00
50%         0.000000  0.000000e+00
75%       242.000000  2.420000e+04
max    230000.000000  2.300000e+07

In [49]:
round(table_real['Área (ha)'].mean(), 2)

988.87

In [50]:
#media por estado
table_real[['Estado sigla','Área (ha)']].groupby('Estado sigla').mean()

                 Área (ha)
Estado sigla
AL               90.702899
AP            10622.244444
BA             2406.675000
CE                7.956522
DF             1224.222222
ES             1166.813390
GO              312.309201
MA             1581.435185
MG              792.108674
MS             4191.767857
MT              882.268987
PA             3166.395833
PB              311.280702
PE              130.777778
PI              521.699531
PR             1397.621745
RJ              166.957227
RN                5.329502
RO              216.337165
RR             2038.176471
RS              760.131609
SC             1165.070498
SE               56.982759
SP              739.054348
TO              649.104455

In [51]:
#soma por expecie
table_real[['Espécie florestal','Área (ha)' ]].groupby('Espécie florestal').sum()

                    Área (ha)
Espécie florestal
Eucalipto          21940841.0
Outras espécies     1192967.0
Pinus               6193956.0

In [54]:
table_real.groupby('Região')['Região'].count()

Região
Centro Oeste     3105
Nordeste         2727
Norte            1413
Sudeste         13203
Sul             10566
Name: Região, dtype: int64

In [55]:
table_real['Região'].value_counts()

Sudeste         13203
Sul             10566
Centro Oeste     3105
Nordeste         2727
Norte            1413
Name: Região, dtype: int64

In [60]:
for col in table_real.columns:
    print(f'\###{col} ###')
    print(table_real[col].value_counts())

\###Ano (data) ###
31/12/2014    10338
31/12/2015    10338
31/12/2016    10338
Name: Ano (data), dtype: int64
\###País ###
Brasil    31014
Name: País, dtype: int64
\###Região ###
Sudeste         13203
Sul             10566
Centro Oeste     3105
Nordeste         2727
Norte            1413
Name: Região, dtype: int64
\###Estado ###
Minas Gerais           7191
São Paulo              4617
Rio Grande do Sul      4419
Paraná                 3510
Santa Catarina         2637
Goiás                  1404
Mato Grosso            1008
Bahia                   945
Tocantins               756
Espírito Santo          702
Rio de Janeiro          693
Mato Grosso do Sul      684
Maranhão                495
Alagoas                 369
Rio Grande do Norte     261
Pará                    261
Rondônia                261
Piauí                   225
Sergipe                 189
Ceará                   135
Roraima                  90
Paraíba                  63
Pernambuco               45
Amapá                    45
Distrito Federal          9
Name: Estado, dtype: int64
\###Estado sigla ###
MG    7191
SP    4617
RS    4419
PR    3510
SC    2637
GO    1404
MT    1008
BA     945
TO     756
ES     702
RJ     693
MS     684
MA     495
AL     369
RN     261
PA     261
RO     261
PI     225
SE     189
CE     135
RR      90
PB      63
PE      45
AP      45
DF       9
Name: Estado sigla, dtype: int64
\###Município (Municípios) ###
Bom Jesus                 27
Boa Esperança             27
Alto Alegre               27
Cantagalo                 27
Planalto                  27
                          ..
São José do Mantimento     9
São Lourenço               9
São Miguel do Anta         9
São Pedro da União         9
Brasília                   9
Name: Município (Municípios), Length: 3352, dtype: int64
\###Município Estado ###
Alta Floresta D'Oeste (RO)    9
Tapira (PR)                   9
Telêmaco Borba (PR)           9
Terra Boa (PR)                9
Terra Rica (PR)               9
                             ..
São José da Safira (MG)       9
São José da Varginha (MG)     9
São José do Alegre (MG)       9
São José do Divino (MG)       9
Brasília (DF)                 9
Name: Município Estado, Length: 3446, dtype: int64
\###Latitude ###
-20,37    81
-21,73    81
-21,26    81
-20,08    72
-21,45    72
          ..
-18,94     9
-18,62     9
-18,41     9
-20,36     9
-15,78     9
Name: Latitude, Length: 1742, dtype: int64
\###Longitude ###
-48,65    90
-53,59    72
-49,07    72
-51,22    72
-51,78    72
          ..
-43,49     9
-44,34     9
-43,14     9
-43,88     9
-48,81     9
Name: Longitude, Length: 1543, dtype: int64
\###Espécie florestal ###
Eucalipto          10338
Pinus              10338
Outras espécies    10338
Name: Espécie florestal, dtype: int64
\###Área (ha) ###
0.0        15547
10.0         295
100.0        264
300.0        253
200.0        241
           ...
3154.0         1
12973.0        1
12227.0        1
1092.0         1
48500.0        1
Name: Área (ha), Length: 2059, dtype: int64
\###nova coluna ###
0.0          15547
1000.0         295
10000.0        264
30000.0        253
20000.0        241
             ...
315400.0         1
1297300.0        1
1222700.0        1
109200.0         1
4850000.0        1
Name: nova coluna, Length: 2059, dtype: int64
\###Nivel ###
baixo    31006
Alto         8
Name: Nivel, dtype: int64

In [ ]:
table_real['Região'].value_counts()

In [63]:
table_real[table_real['Município (Municípios)'].str.contains('Salvador')]['Município (Municípios)'].unique()

array(['São Salvador do Tocantins', 'Salvador das Missões',
       'Salvador do Sul'], dtype=object)

In [64]:
table_real['Espécie florestal'].unique()

array(['Eucalipto', 'Pinus', 'Outras espécies'], dtype=object)

In [80]:
table_real.rename(columns={'Espécie florestal': 'Gênero florestal'}, inplace= True)
display(table_real)

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Gênero florestal,Área (ha)
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0
...,...,...,...,...,...,...,...,...,...,...,...
31009,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,1000.0
31010,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Pinus,700.0
31011,31/12/2014,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31012,31/12/2015,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0
31013,31/12/2016,Brasil,Centro Oeste,Distrito Federal,DF,Brasília,Brasília (DF),"-15,78","-47,8",Outras espécies,0.0

In [68]:
table_real.head()

,Ano (data),País,Região,Estado,Estado sigla,Município (Municípios),Município Estado,Latitude,Longitude,Espécie florestal,Área (ha),nova coluna,Nivel
0,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0,baixo
1,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0,baixo
2,31/12/2016,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Eucalipto,0.0,0.0,baixo
3,31/12/2014,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0,baixo
4,31/12/2015,Brasil,Norte,Rondônia,RO,Alta Floresta D'Oeste,Alta Floresta D'Oeste (RO),"-12,47","-62,27",Pinus,0.0,0.0,baixo

In [72]:
table_real.to_csv('florestas.csv', index = False)

In [219]:
table = pd.read_csv('exploracaoFlorestaPlantada.csv', delimiter=';')
display(table)

,UF,MUNICÍPIO,NOME DETENTOR,CPF/CNPJ DETENTOR,IMÓVEL RURAL VINCULADO,Nº CAR IMÓVEL RURAL,NOME EMPREENDIMENTO VINC,LATITUDE PONTO CENTR EMPREEND,LONGITUDE PONTO CENTR EMPREEND,ATIVIDADE,...,ERRO PADRÃO EXTRATO,INTERVALO CONFIANÇA EXTRATO,CRONOGRAMA EXPLOR ATIVIDADE,CRONOGRAMA EXPLORACAO MÊS/ANO,VOL EXPLORAR PRODUTO FLORESTAL,VOL EXPLORAR UNID MEDIDA,VOL EXPLORAR INI EXPLORAÇÃO,VOL EXPLORAR PERÍODO,VOL EXPLORAR VOLUME,ÚLTIMA ATUALIZAÇÃO RELATÓRIO
0,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,11/2021,NaN,"23,0",04/09/2022 19:03
1,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,11/2021,NaN,"40,0",04/09/2022 19:03
2,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,2/2021,NaN,"23,0",04/09/2022 19:03
3,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,2/2021,NaN,"40,0",04/09/2022 19:03
4,AC,EPITACIOLANDIA,G. L. MAFFI,02.023.852/0001-20,Colônia Guaraciaba,AC-1200252-BFD72C288A5247C987F4888409D180A6,Paricá - Colônia Guaraciaba (Plantio),NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/02/2021,Lenha (st),NaN,5/2021,NaN,"23,0",04/09/2022 19:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365,TO,WANDERLANDIA,VFSA,019.***.***-**,FAZENDA SAUDADE PARTE,TO-1722081-C571FC16E3764D778DD9BC379FDAAF51,FAZENDA SAUDADE PARTE,NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/04/2022,Tora (m³),NaN,10/2022,NaN,"25172,0",04/09/2022 19:03
4366,TO,WANDERLANDIA,VFSA,019.***.***-**,FAZENDA SAUDADE PARTE,TO-1722081-C571FC16E3764D778DD9BC379FDAAF51,FAZENDA SAUDADE PARTE,NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/04/2022,Tora (m³),NaN,4/2022,NaN,"25172,0",04/09/2022 19:03
4367,TO,WANDERLANDIA,VFSA,019.***.***-**,FAZENDA SAUDADE PARTE,TO-1722081-C571FC16E3764D778DD9BC379FDAAF51,FAZENDA SAUDADE PARTE,NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/04/2022,Tora (m³),NaN,7/2022,NaN,"25172,0",04/09/2022 19:03
4368,TO,XAMBIOA,JAP,589.***.***-**,Fazenda Beira Rio,TO-1722107-87DEE8F90D6B412BAC3C186CD669A489,Fazenda Beira Rio,NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/01/2019,Lenha (st),NaN,1/2019,NaN,"22199,74",04/09/2022 19:03
4369,TO,XAMBIOA,JAP,589.***.***-**,Fazenda Beira Rio,TO-1722107-87DEE8F90D6B412BAC3C186CD669A489,Fazenda Beira Rio,NaN,NaN,Exploração de Floresta Plantada,...,NaN,NaN,NaN,01/01/2019,Lenha (st),NaN,4/2019,NaN,"14799,83",04/09/2022 19:03

In [83]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4370 entries, 0 to 4369
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UF                              4370 non-null   object
 1   MUNICÍPIO                       4366 non-null   object
 2   NOME DETENTOR                   4365 non-null   object
 3   CPF/CNPJ DETENTOR               4360 non-null   object
 4   IMÓVEL RURAL VINCULADO          4370 non-null   object
 5   Nº CAR IMÓVEL RURAL             4360 non-null   object
 6   NOME EMPREENDIMENTO VINC        4370 non-null   object
 7   LATITUDE PONTO CENTR EMPREEND   0 non-null      float64
 8   LONGITUDE PONTO CENTR EMPREEND  0 non-null      float64
 9   ATIVIDADE                       4370 non-null   object
 10  TIPO DE EMPREENDIMENTO          4304 non-null   object
 11  Nº CONSELHO DE CLASSE RT        2794 non-null   object
 12  ATIVIDADE RT                    2794 non-null   object
 13  DATA DE CADASTRO                4370 non-null   object
 14  SITUAÇÃO DA SOLICITAÇÃO EXPLOR  4370 non-null   object
 15  DATA DA SITUAÇÃO                4370 non-null   object
 16  COMPETÊNCIA DA AVALIAÇÃO        4364 non-null   object
 17  ÓRGÃO AMBIENTAL RESP ANÁLISE    4360 non-null   object
 18  Nº PROCESSO                     1531 non-null   object
 19  Nº PROTOCOLO                    977 non-null    object
 20  NOME CIENTÍFICO                 360 non-null    object
 21  NOME POPULAR                    345 non-null    object
 22  ÁREA EFETIVO PLANTIO            360 non-null    object
 23  ESPAÇAMENTO                     360 non-null    object
 24  TOTAL ÁRVORES                   360 non-null    object
 25  VOLUME                          360 non-null    object
 26  UNIDADE MEDIDA                  360 non-null    float64
 27  ANO CORTE                       360 non-null    float64
 28  OBSERVAÇÃO DADOS ATIVIDADE      160 non-null    object
 29  OPERAÇÕES EFETUADAS             548 non-null    object
 30  MÊS/ANO                         548 non-null    object
 31  OBSERV TRATOS SILVICULTURAIS    217 non-null    object
 32  DESBATE REALIZADO               4346 non-null   object
 33  NÚMERO DESBASTE                 343 non-null    object
 34  DESBATE COMUNICADO              4346 non-null   object
 35  DESBASTE INTENSIDADE            308 non-null    object
 36  PORCENTAGEM DO DESBASTE %       308 non-null    object
 37  OBSERVAÇÃO DESBASTE             1863 non-null   object
 38  EQUAÇÃO VOLUME                  4348 non-null   object
 39  PROCESSO AMOSTRAGEM             4356 non-null   object
 40  TIPO INVENTÁRIO                 4052 non-null   object
 41  NÍVEL PROBABILIDADE             3961 non-null   object
 42  FORMA PARCELA                   4009 non-null   float64
 43  ÁREA TOTAL PROJ                 4255 non-null   object
 44  ÁREA AMOSTRA                    3877 non-null   object
 45  PRODUTO FLORESTAL               2670 non-null   object
 46  NOME CIENTÍFICO PF              2208 non-null   object
 47  NOME POPULAR PF                 2028 non-null   object
 48  VOLUME(M³/ha)                   157 non-null    object
 49  AMOSTRAS LEVANTADAS             0 non-null      float64
 50  TOTAL PARCELAS                  0 non-null      float64
 51  ÁREA INVENTARIADA               0 non-null      float64
 52  MÉDIA                           157 non-null    object
 53  MÉDIA HECTARES                  157 non-null    object
 54  DESVIO PADRÃO                   157 non-null    object
 55  VARIÂNCIA MÉDIA                 157 non-null    object
 56  ERRO PADRÃO                     157 non-null    object
 57  COEFICIENTE VARIACAO            157 non-null    object
 58  VARIÂNCIA MÉDIA REL             157 non-null    object
 59  INTERVALO CONFIANÇA             157 non-null    object
 60  Nº EXTRATO                      0 non-null      float64
 61  TOTAL UNIDADES                  1699 non-null   object
 62  VOL MÉDIO EXTRATO               311 non-null    object
 63  VOL MÉDIO EXTRATIFICADA         311 non-null    object
 64  VARIÂNCIA EXTRATO               311 non-null    object
 65  ERRO PADRÃO EXTRATO             311 non-null    object
 66  INTERVALO CONFIANÇA EXTRATO     311 non-null    object
 67  CRONOGRAMA EXPLOR ATIVIDADE     1343 non-null   object
 68  CRONOGRAMA EXPLORACAO MÊS/ANO   3757 non-null   object
 69  VOL EXPLORAR PRODUTO FLORESTAL  3757 non-null   object
 70  VOL EXPLORAR UNID MEDIDA        0 non-null      float64
 71  VOL EXPLORAR INI EXPLORAÇÃO     3737 non-null   object
 72  VOL EXPLORAR PERÍODO            0 non-null      float64
 73  VOL EXPLORAR VOLUME             3737 non-null   object
 74  ÚLTIMA ATUALIZAÇÃO RELATÓRIO    4350 non-null   object
dtypes: float64(11), object(64)
memory usage: 2.5+ MB

In [ ]:
###Questão 2 - Consultar as informações básicas do dataset carregado acima da Exploração de Floresta Plantada, conforme lista abaixo:

#Quantidade de registros
#Quantidade de colunas
#Listar as colunas dos dados
#Exibir as principais informações do conjunto de dados
#Listar as colunas com dados vazios#

In [91]:
table[table.columns].count()

UF                              4370
MUNICÍPIO                       4366
NOME DETENTOR                   4365
CPF/CNPJ DETENTOR               4360
IMÓVEL RURAL VINCULADO          4370
                                ...
VOL EXPLORAR UNID MEDIDA           0
VOL EXPLORAR INI EXPLORAÇÃO     3737
VOL EXPLORAR PERÍODO               0
VOL EXPLORAR VOLUME             3737
ÚLTIMA ATUALIZAÇÃO RELATÓRIO    4350
Length: 75, dtype: int64

In [129]:
pd.isna(table)

,UF,MUNICÍPIO,NOME DETENTOR,CPF/CNPJ DETENTOR,IMÓVEL RURAL VINCULADO,Nº CAR IMÓVEL RURAL,NOME EMPREENDIMENTO VINC,LATITUDE PONTO CENTR EMPREEND,LONGITUDE PONTO CENTR EMPREEND,ATIVIDADE,...,ERRO PADRÃO EXTRATO,INTERVALO CONFIANÇA EXTRATO,CRONOGRAMA EXPLOR ATIVIDADE,CRONOGRAMA EXPLORACAO MÊS/ANO,VOL EXPLORAR PRODUTO FLORESTAL,VOL EXPLORAR UNID MEDIDA,VOL EXPLORAR INI EXPLORAÇÃO,VOL EXPLORAR PERÍODO,VOL EXPLORAR VOLUME,ÚLTIMA ATUALIZAÇÃO RELATÓRIO
0,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
1,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
2,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
3,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
4,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4365,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
4366,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
4367,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
4368,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False
4369,False,False,False,False,False,False,False,True,True,False,...,True,True,True,False,False,True,False,True,False,False

In [104]:
print(f' As colunas dos dados são: {table.columns}')

 As colunas dos dados são: Index(['UF', 'MUNICÍPIO', 'NOME DETENTOR', 'CPF/CNPJ DETENTOR',
       'IMÓVEL RURAL VINCULADO', 'Nº CAR IMÓVEL RURAL',
       'NOME EMPREENDIMENTO VINC', 'LATITUDE PONTO CENTR EMPREEND',
       'LONGITUDE PONTO CENTR EMPREEND', 'ATIVIDADE', 'TIPO DE EMPREENDIMENTO',
       'Nº CONSELHO DE CLASSE RT', 'ATIVIDADE RT', 'DATA DE CADASTRO',
       'SITUAÇÃO DA SOLICITAÇÃO EXPLOR', 'DATA DA SITUAÇÃO',
       'COMPETÊNCIA DA AVALIAÇÃO', 'ÓRGÃO AMBIENTAL RESP ANÁLISE',
       'Nº PROCESSO', 'Nº PROTOCOLO', 'NOME CIENTÍFICO', 'NOME POPULAR',
       'ÁREA EFETIVO PLANTIO', 'ESPAÇAMENTO', 'TOTAL ÁRVORES', 'VOLUME',
       'UNIDADE MEDIDA', 'ANO CORTE', 'OBSERVAÇÃO DADOS ATIVIDADE',
       'OPERAÇÕES EFETUADAS', 'MÊS/ANO', 'OBSERV TRATOS SILVICULTURAIS',
       'DESBATE REALIZADO', 'NÚMERO DESBASTE', 'DESBATE COMUNICADO',
       'DESBASTE INTENSIDADE', 'PORCENTAGEM DO DESBASTE %',
       'OBSERVAÇÃO DESBASTE', 'EQUAÇÃO VOLUME', 'PROCESSO AMOSTRAGEM',
       'TIPO INVENTÁRIO', 'NÍVEL PROBABILIDADE', 'FORMA PARCELA',
       'ÁREA TOTAL PROJ', 'ÁREA AMOSTRA', 'PRODUTO FLORESTAL',
       'NOME CIENTÍFICO PF', 'NOME POPULAR PF', 'VOLUME(M³/ha)',
       'AMOSTRAS LEVANTADAS', 'TOTAL PARCELAS', 'ÁREA INVENTARIADA', 'MÉDIA',
       'MÉDIA HECTARES', 'DESVIO PADRÃO', 'VARIÂNCIA MÉDIA', 'ERRO PADRÃO',
       'COEFICIENTE VARIACAO', 'VARIÂNCIA MÉDIA REL', 'INTERVALO CONFIANÇA',
       'Nº EXTRATO', 'TOTAL UNIDADES', 'VOL MÉDIO EXTRATO',
       'VOL MÉDIO EXTRATIFICADA', 'VARIÂNCIA EXTRATO', 'ERRO PADRÃO EXTRATO',
       'INTERVALO CONFIANÇA EXTRATO', 'CRONOGRAMA EXPLOR ATIVIDADE',
       'CRONOGRAMA EXPLORACAO MÊS/ANO', 'VOL EXPLORAR PRODUTO FLORESTAL',
       'VOL EXPLORAR UNID MEDIDA', 'VOL EXPLORAR INI EXPLORAÇÃO',
       'VOL EXPLORAR PERÍODO', 'VOL EXPLORAR VOLUME',
       'ÚLTIMA ATUALIZAÇÃO RELATÓRIO'],
      dtype='object')

In [108]:
print(f'Quantidade de registros é: {table.shape[0]}; Quantidade de colunas é: {table.shape[1]}') 
print(f'As colunas dos dados são: {table.columns}')
print(f'As principais informações do conjunto de dados: {table.info()}')
display(table.isnull().sum())

Quantidade de registros é: 4370; Quantidade de colunas é: 75
As colunas dos dados são: Index(['UF', 'MUNICÍPIO', 'NOME DETENTOR', 'CPF/CNPJ DETENTOR',
       'IMÓVEL RURAL VINCULADO', 'Nº CAR IMÓVEL RURAL',
       'NOME EMPREENDIMENTO VINC', 'LATITUDE PONTO CENTR EMPREEND',
       'LONGITUDE PONTO CENTR EMPREEND', 'ATIVIDADE', 'TIPO DE EMPREENDIMENTO',
       'Nº CONSELHO DE CLASSE RT', 'ATIVIDADE RT', 'DATA DE CADASTRO',
       'SITUAÇÃO DA SOLICITAÇÃO EXPLOR', 'DATA DA SITUAÇÃO',
       'COMPETÊNCIA DA AVALIAÇÃO', 'ÓRGÃO AMBIENTAL RESP ANÁLISE',
       'Nº PROCESSO', 'Nº PROTOCOLO', 'NOME CIENTÍFICO', 'NOME POPULAR',
       'ÁREA EFETIVO PLANTIO', 'ESPAÇAMENTO', 'TOTAL ÁRVORES', 'VOLUME',
       'UNIDADE MEDIDA', 'ANO CORTE', 'OBSERVAÇÃO DADOS ATIVIDADE',
       'OPERAÇÕES EFETUADAS', 'MÊS/ANO', 'OBSERV TRATOS SILVICULTURAIS',
       'DESBATE REALIZADO', 'NÚMERO DESBASTE', 'DESBATE COMUNICADO',
       'DESBASTE INTENSIDADE', 'PORCENTAGEM DO DESBASTE %',
       'OBSERVAÇÃO DESBASTE', 'EQUAÇÃO VOLUME', 'PROCESSO AMOSTRAGEM',
       'TIPO INVENTÁRIO', 'NÍVEL PROBABILIDADE', 'FORMA PARCELA',
       'ÁREA TOTAL PROJ', 'ÁREA AMOSTRA', 'PRODUTO FLORESTAL',
       'NOME CIENTÍFICO PF', 'NOME POPULAR PF', 'VOLUME(M³/ha)',
       'AMOSTRAS LEVANTADAS', 'TOTAL PARCELAS', 'ÁREA INVENTARIADA', 'MÉDIA',
       'MÉDIA HECTARES', 'DESVIO PADRÃO', 'VARIÂNCIA MÉDIA', 'ERRO PADRÃO',
       'COEFICIENTE VARIACAO', 'VARIÂNCIA MÉDIA REL', 'INTERVALO CONFIANÇA',
       'Nº EXTRATO', 'TOTAL UNIDADES', 'VOL MÉDIO EXTRATO',
       'VOL MÉDIO EXTRATIFICADA', 'VARIÂNCIA EXTRATO', 'ERRO PADRÃO EXTRATO',
       'INTERVALO CONFIANÇA EXTRATO', 'CRONOGRAMA EXPLOR ATIVIDADE',
       'CRONOGRAMA EXPLORACAO MÊS/ANO', 'VOL EXPLORAR PRODUTO FLORESTAL',
       'VOL EXPLORAR UNID MEDIDA', 'VOL EXPLORAR INI EXPLORAÇÃO',
       'VOL EXPLORAR PERÍODO', 'VOL EXPLORAR VOLUME',
       'ÚLTIMA ATUALIZAÇÃO RELATÓRIO'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4370 entries, 0 to 4369
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UF                              4370 non-null   object
 1   MUNICÍPIO                       4366 non-null   object
 2   NOME DETENTOR                   4365 non-null   object
 3   CPF/CNPJ DETENTOR               4360 non-null   object
 4   IMÓVEL RURAL VINCULADO          4370 non-null   object
 5   Nº CAR IMÓVEL RURAL             4360 non-null   object
 6   NOME EMPREENDIMENTO VINC        4370 non-null   object
 7   LATITUDE PONTO CENTR EMPREEND   0 non-null      float64
 8   LONGITUDE PONTO CENTR EMPREEND  0 non-null      float64
 9   ATIVIDADE                       4370 non-null   object
 10  TIPO DE EMPREENDIMENTO          4304 non-null   object
 11  Nº CONSELHO DE CLASSE RT        2794 non-null   object
 12  ATIVIDADE RT                    2794 non-null   object
 13  DATA DE CADASTRO                4370 non-null   object
 14  SITUAÇÃO DA SOLICITAÇÃO EXPLOR  4370 non-null   object
 15  DATA DA SITUAÇÃO                4370 non-null   object
 16  COMPETÊNCIA DA AVALIAÇÃO        4364 non-null   object
 17  ÓRGÃO AMBIENTAL RESP ANÁLISE    4360 non-null   object
 18  Nº PROCESSO                     1531 non-null   object
 19  Nº PROTOCOLO                    977 non-null    object
 20  NOME CIENTÍFICO                 360 non-null    object
 21  NOME POPULAR                    345 non-null    object
 22  ÁREA EFETIVO PLANTIO            360 non-null    object
 23  ESPAÇAMENTO                     360 non-null    object
 24  TOTAL ÁRVORES                   360 non-null    object
 25  VOLUME                          360 non-null    object
 26  UNIDADE MEDIDA                  360 non-null    float64
 27  ANO CORTE                       360 non-null    float64
 28  OBSERVAÇÃO DADOS ATIVIDADE      160 non-null    object
 29  OPERAÇÕES EFETUADAS             548 non-null    object
 30  MÊS/ANO                         548 non-null    object
 31  OBSERV TRATOS SILVICULTURAIS    217 non-null    object
 32  DESBATE REALIZADO               4346 non-null   object
 33  NÚMERO DESBASTE                 343 non-null    object
 34  DESBATE COMUNICADO              4346 non-null   object
 35  DESBASTE INTENSIDADE            308 non-null    object
 36  PORCENTAGEM DO DESBASTE %       308 non-null    object
 37  OBSERVAÇÃO DESBASTE             1863 non-null   object
 38  EQUAÇÃO VOLUME                  4348 non-null   object
 39  PROCESSO AMOSTRAGEM             4356 non-null   object
 40  TIPO INVENTÁRIO                 4052 non-null   object
 41  NÍVEL PROBABILIDADE             3961 non-null   object
 42  FORMA PARCELA                   4009 non-null   float64
 43  ÁREA TOTAL PROJ                 4255 non-null   object
 44  ÁREA AMOSTRA                    3877 non-null   object
 45  PRODUTO FLORESTAL               2670 non-null   object
 46  NOME CIENTÍFICO PF              2208 non-null   object
 47  NOME POPULAR PF                 2028 non-null   object
 48  VOLUME(M³/ha)                   157 non-null    object
 49  AMOSTRAS LEVANTADAS             0 non-null      float64
 50  TOTAL PARCELAS                  0 non-null      float64
 51  ÁREA INVENTARIADA               0 non-null      float64
 52  MÉDIA                           157 non-null    object
 53  MÉDIA HECTARES                  157 non-null    object
 54  DESVIO PADRÃO                   157 non-null    object
 55  VARIÂNCIA MÉDIA                 157 non-null    object
 56  ERRO PADRÃO                     157 non-null    object
 57  COEFICIENTE VARIACAO            157 non-null    object
 58  VARIÂNCIA MÉDIA REL             157 non-null    object
 59  INTERVALO CONFIANÇA             157 non-null    object
 60  Nº EXTRATO                      0 non-null      float64
 61  TOTAL UNIDADES                  1699 non-null   object
 62  VOL MÉDIO EXTRATO               311 non-null    object
 63  VOL MÉDIO EXTRATIFICADA         311 non-null    object
 64  VARIÂNCIA EXTRATO               311 non-null    object
 65  ERRO PADRÃO EXTRATO             311 non-null    object
 66  INTERVALO CONFIANÇA EXTRATO     311 non-null    object
 67  CRONOGRAMA EXPLOR ATIVIDADE     1343 non-null   object
 68  CRONOGRAMA EXPLORACAO MÊS/ANO   3757 non-null   object
 69  VOL EXPLORAR PRODUTO FLORESTAL  3757 non-null   object
 70  VOL EXPLORAR UNID MEDIDA        0 non-null      float64
 71  VOL EXPLORAR INI EXPLORAÇÃO     3737 non-null   object
 72  VOL EXPLORAR PERÍODO            0 non-null      float64
 73  VOL EXPLORAR VOLUME             3737 non-null   object
 74  ÚLTIMA ATUALIZAÇÃO RELATÓRIO    4350 non-null   object
dtypes: float64(11), object(64)
memory usage: 2.5+ MB
As principais informações do conjunto de dados: None

In [208]:
table['UF'].unique()

array(['AC', 'AM', 'MA', 'MG', 'PR',
       '81,99 m² de toras e 30,74 mst de lenha.', 'RJ', 'RO',
       'CONSORCIADO COM PLANTAÇÃO DE CAFÉ, EM ÁREA DE USO MULTIPLO DO SOLO (ÁREA CONSOLIDADA).',
       'RS', 'SC', 'SP', 'TO'], dtype=object)

In [220]:
table['CONSORCIADO COM PLANTAÇÃO DE CAFÉ, EM ÁREA DE USO MULTIPLO DO SOLO (ÁREA CONSOLIDADA)']

KeyError: 'CONSORCIADO COM PLANTAÇÃO DE CAFÉ, EM ÁREA DE USO MULTIPLO DO SOLO (ÁREA CONSOLIDADA)'

In [ ]:
table[table['Área (ha)'].isnull()]

In [127]:
display(table.isnull().sum())

UF                                 0
MUNICÍPIO                          4
NOME DETENTOR                      5
CPF/CNPJ DETENTOR                 10
IMÓVEL RURAL VINCULADO             0
                                ...
VOL EXPLORAR UNID MEDIDA        4370
VOL EXPLORAR INI EXPLORAÇÃO      633
VOL EXPLORAR PERÍODO            4370
VOL EXPLORAR VOLUME              633
ÚLTIMA ATUALIZAÇÃO RELATÓRIO      20
Length: 75, dtype: int64

In [196]:
table.isnull().sum()

UF                                 0
MUNICÍPIO                          4
NOME DETENTOR                      5
CPF/CNPJ DETENTOR                 10
IMÓVEL RURAL VINCULADO             0
                                ...
VOL EXPLORAR UNID MEDIDA        4370
VOL EXPLORAR INI EXPLORAÇÃO      633
VOL EXPLORAR PERÍODO            4370
VOL EXPLORAR VOLUME              633
ÚLTIMA ATUALIZAÇÃO RELATÓRIO      20
Length: 75, dtype: int64

In [199]:
for n in table.columns:
    print(n)

UF
MUNICÍPIO
NOME DETENTOR
CPF/CNPJ DETENTOR
IMÓVEL RURAL VINCULADO
Nº CAR IMÓVEL RURAL
NOME EMPREENDIMENTO VINC
LATITUDE PONTO CENTR EMPREEND
LONGITUDE PONTO CENTR EMPREEND
ATIVIDADE
TIPO DE EMPREENDIMENTO
Nº CONSELHO DE CLASSE RT
ATIVIDADE RT
DATA DE CADASTRO
SITUAÇÃO DA SOLICITAÇÃO EXPLOR
DATA DA SITUAÇÃO
COMPETÊNCIA DA AVALIAÇÃO
ÓRGÃO AMBIENTAL RESP ANÁLISE
Nº PROCESSO
Nº PROTOCOLO
NOME CIENTÍFICO
NOME POPULAR
ÁREA EFETIVO PLANTIO
ESPAÇAMENTO
TOTAL ÁRVORES
VOLUME
UNIDADE MEDIDA
ANO CORTE
OBSERVAÇÃO DADOS ATIVIDADE
OPERAÇÕES EFETUADAS
MÊS/ANO
OBSERV TRATOS SILVICULTURAIS
DESBATE REALIZADO
NÚMERO DESBASTE
DESBATE COMUNICADO
DESBASTE INTENSIDADE
PORCENTAGEM DO DESBASTE %
OBSERVAÇÃO DESBASTE
EQUAÇÃO VOLUME
PROCESSO AMOSTRAGEM
TIPO INVENTÁRIO
NÍVEL PROBABILIDADE
FORMA PARCELA
ÁREA TOTAL PROJ
ÁREA AMOSTRA
PRODUTO FLORESTAL
NOME CIENTÍFICO PF
NOME POPULAR PF
VOLUME(M³/ha)
AMOSTRAS LEVANTADAS
TOTAL PARCELAS
ÁREA INVENTARIADA
MÉDIA
MÉDIA HECTARES
DESVIO PADRÃO
VARIÂNCIA MÉDIA
ERRO PADRÃO
COEFICIENTE VARIACAO
VARIÂNCIA MÉDIA REL
INTERVALO CONFIANÇA
Nº EXTRATO
TOTAL UNIDADES
VOL MÉDIO EXTRATO
VOL MÉDIO EXTRATIFICADA
VARIÂNCIA EXTRATO
ERRO PADRÃO EXTRATO
INTERVALO CONFIANÇA EXTRATO
CRONOGRAMA EXPLOR ATIVIDADE
CRONOGRAMA EXPLORACAO MÊS/ANO
VOL EXPLORAR PRODUTO FLORESTAL
VOL EXPLORAR UNID MEDIDA
VOL EXPLORAR INI EXPLORAÇÃO
VOL EXPLORAR PERÍODO
VOL EXPLORAR VOLUME
ÚLTIMA ATUALIZAÇÃO RELATÓRIO

In [198]:
y = list(table.columns)
x = list(table.isnull().sum())
unido = zip(y,x)
list(unido)

[('UF', 0),
 ('MUNICÍPIO', 4),
 ('NOME DETENTOR', 5),
 ('CPF/CNPJ DETENTOR', 10),
 ('IMÓVEL RURAL VINCULADO', 0),
 ('Nº CAR IMÓVEL RURAL', 10),
 ('NOME EMPREENDIMENTO VINC', 0),
 ('LATITUDE PONTO CENTR EMPREEND', 4370),
 ('LONGITUDE PONTO CENTR EMPREEND', 4370),
 ('ATIVIDADE', 0),
 ('TIPO DE EMPREENDIMENTO', 66),
 ('Nº CONSELHO DE CLASSE RT', 1576),
 ('ATIVIDADE RT', 1576),
 ('DATA DE CADASTRO', 0),
 ('SITUAÇÃO DA SOLICITAÇÃO EXPLOR', 0),
 ('DATA DA SITUAÇÃO', 0),
 ('COMPETÊNCIA DA AVALIAÇÃO', 6),
 ('ÓRGÃO AMBIENTAL RESP ANÁLISE', 10),
 ('Nº PROCESSO', 2839),
 ('Nº PROTOCOLO', 3393),
 ('NOME CIENTÍFICO', 4010),
 ('NOME POPULAR', 4025),
 ('ÁREA EFETIVO PLANTIO', 4010),
 ('ESPAÇAMENTO', 4010),
 ('TOTAL ÁRVORES', 4010),
 ('VOLUME', 4010),
 ('UNIDADE MEDIDA', 4010),
 ('ANO CORTE', 4010),
 ('OBSERVAÇÃO DADOS ATIVIDADE', 4210),
 ('OPERAÇÕES EFETUADAS', 3822),
 ('MÊS/ANO', 3822),
 ('OBSERV TRATOS SILVICULTURAIS', 4153),
 ('DESBATE REALIZADO', 24),
 ('NÚMERO DESBASTE', 4027),
 ('DESBATE COMUNICADO', 24),
 ('DESBASTE INTENSIDADE', 4062),
 ('PORCENTAGEM DO DESBASTE %', 4062),
 ('OBSERVAÇÃO DESBASTE', 2507),
 ('EQUAÇÃO VOLUME', 22),
 ('PROCESSO AMOSTRAGEM', 14),
 ('TIPO INVENTÁRIO', 318),
 ('NÍVEL PROBABILIDADE', 409),
 ('FORMA PARCELA', 361),
 ('ÁREA TOTAL PROJ', 115),
 ('ÁREA AMOSTRA', 493),
 ('PRODUTO FLORESTAL', 1700),
 ('NOME CIENTÍFICO PF', 2162),
 ('NOME POPULAR PF', 2342),
 ('VOLUME(M³/ha)', 4213),
 ('AMOSTRAS LEVANTADAS', 4370),
 ('TOTAL PARCELAS', 4370),
 ('ÁREA INVENTARIADA', 4370),
 ('MÉDIA', 4213),
 ('MÉDIA HECTARES', 4213),
 ('DESVIO PADRÃO', 4213),
 ('VARIÂNCIA MÉDIA', 4213),
 ('ERRO PADRÃO', 4213),
 ('COEFICIENTE VARIACAO', 4213),
 ('VARIÂNCIA MÉDIA REL', 4213),
 ('INTERVALO CONFIANÇA', 4213),
 ('Nº EXTRATO', 4370),
 ('TOTAL UNIDADES', 2671),
 ('VOL MÉDIO EXTRATO', 4059),
 ('VOL MÉDIO EXTRATIFICADA', 4059),
 ('VARIÂNCIA EXTRATO', 4059),
 ('ERRO PADRÃO EXTRATO', 4059),
 ('INTERVALO CONFIANÇA EXTRATO', 4059),
 ('CRONOGRAMA EXPLOR ATIVIDADE', 3027),
 ('CRONOGRAMA EXPLORACAO MÊS/ANO', 613),
 ('VOL EXPLORAR PRODUTO FLORESTAL', 613),
 ('VOL EXPLORAR UNID MEDIDA', 4370),
 ('VOL EXPLORAR INI EXPLORAÇÃO', 633),
 ('VOL EXPLORAR PERÍODO', 4370),
 ('VOL EXPLORAR VOLUME', 633),
 ('ÚLTIMA ATUALIZAÇÃO RELATÓRIO', 20)]